In [1]:
#This is a python Script for me to learn Python
#There are single and multiline comments
#They are ommited by the interpretor
##The number of hashes  show the level of the heading

In [2]:
#This is a multiline comment
#hold the ctrl key then left click wherever you want to add the comments

In [4]:
##Docstrings
"""
They are written within triple quotes that act as comments
They are not ommitted by the interpretor
Also depends on where you put them
"""

'\nThey are written within triple quotes that act as comments\nThey are not ommitted by the interpretor\n'

In [5]:
"""
This docstring will be ommitted by the interpretor
because it comes before
"""
a=2
b=2
a+b

4

In [6]:
"""#Variables"""
#Storage unit for storing values
#eg. a = 3#
#a is the variable

'#Variables'

In [10]:
"""Data Types"""
"""
#Numbers----Interger eg 2, 23
        ----float eg 5.9389
        ----complex eg a = 25j
#Booleans

#String
 string variable a = "This is a string, its enclosed in single or double quotes"
    String data types are indexed and they are immutable ie they cannot be changed
    
    name = "Julius Murigi"
    """

'\n#Numbers----Interger eg 2, 23\n        ----float eg 5.9389\n        ----complex eg a = 25j\n#Booleans\n\n#String\n string variable a = "This is a string, its enclosed in single or double quotes"\n    String data types are indexed and they are immutable ie they cannot be changed\n    \n    name = "Julius Murigi"\n    '

In [11]:
name = "Julius,Murigi"

In [12]:
name[2]

'l'

In [13]:
name.upper()

'JULIUS MURIGI'

In [14]:
name.lower()

'julius murigi'

In [15]:
name[2] = "b"

TypeError: 'str' object does not support item assignment

In [16]:
name[2]= "Kibe"

TypeError: 'str' object does not support item assignment

In [17]:
name[2:4]

'li'

In [18]:
name[3:8]

'ius M'

In [19]:
"""
#List Date Type
In javascript, list is an array
eg Fruits = ["apple" ,"watermelon", "banana", "orange", "kiwi", "grapes"]
it is ordered ie is indexed and can be changed
"""

'\n#List Date Type\nIn javascript, list is an array\neg Fruits = ["apple" ,"watermelon", "banana", "orange", "kiwi", "grapes"]\nit is ordered ie is indexed and can be changed\n'

In [20]:
Fruits = ["apple" ,"watermelon", "banana", "orange", "kiwi", "grapes", 2, 3]

In [21]:
print(Fruits)

['apple', 'watermelon', 'banana', 'orange', 'kiwi', 'grapes', 2, 3]

In [23]:
Fruits[5] = "7"
print(Fruits)

['apple', 'watermelon', 'banana', 'orange', 'kiwi', '7', 2, 3]

In [26]:
Fruits.append("PEPERONI")

In [27]:
print(Fruits)

['apple', 'watermelon', 'banana', 'orange', 'kiwi', '7', 2, 3, 'PEPERONI']

In [28]:
Fruits.insert(1, "carrot")

In [29]:
print(Fruits
     )

['apple', 'carrot', 'watermelon', 'banana', 'orange', 'kiwi', '7', 2, 3, 'PEPERONI']

In [30]:
Fruits.reverse()
print(Fruits)

['PEPERONI', 3, 2, '7', 'kiwi', 'orange', 'banana', 'watermelon', 'carrot', 'apple']

In [31]:
"""Dictionary Data Type
#In Javascript, dictionary is an Object
has a key and a value.
They are unordered, can be changed and no duplicate entries are present
"""

'Dictionary Data Type\n#In Javascript, dictionary is an Object\nhas a key and a value.\nThey are unordered, can be changed and no duplicate entries are present\n'

In [32]:
animals = {'reptiles': 'snake',
          'mammals': 'man',
          'amphibians': 'frogs'}
print(animals)

{'reptiles': 'snake', 'mammals': 'man', 'amphibians': 'frogs'}

In [35]:
animals['reptiles']= 'creation'

In [36]:
print(animals)

{'reptiles': 'creation', 'mammals': 'man', 'amphibians': 'frogs', 'animals': 'creation'}

In [37]:
animals['mammals']

'man'

In [39]:
animals

{'reptiles': 'creation',
 'mammals': 'man',
 'amphibians': 'frogs',
 'animals': 'creation'}

In [40]:
"""Tuple
#in Js this now is a list
#ordered but cannot be changes
Duplicate entries are present
eg animals = ('lion', 'gazelle', 'tiger', 'crocodile', 'cow')
"""

"Tuple\n\n#ordered but cannot be changes\nDuplicate entries are present\neg animals = ('lion', 'gazelle', 'tiger', 'crocodile', 'cow')\n"

In [41]:
animals = ('lion', 'gazelle', 'tiger', 'crocodile', 'cow', 'lion','cow')
print(animals)

('lion', 'gazelle', 'tiger', 'crocodile', 'cow')

In [42]:
animals

('lion', 'gazelle', 'tiger', 'crocodile', 'cow')

In [43]:
animals[2]

'tiger'

In [47]:
animals.count('cow')

1

In [48]:
"""set

unordered no duplicates
eg myset = {1, 1, 3, 5, 7, ,8 89, 'cow', 'cow'}
"""

"set\n\nunordered no duplicates\neg myset = {1, 1, 3, 5, 7, ,8 89, 'cow', 'cow'}\n"

In [51]:
myset = {1, 1, 3, 5, 7, 889, 'cow', 'cow'}
print(myset)

{1, 3, 5, 7, 'cow', 889}

"""range(not a data type)
"""

In [54]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [55]:
set(range(20))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [56]:
myname = 'Julius'
c + myname

NameError: name 'c' is not defined

In [60]:
c = 290
str(c)+ myname

'290Julius'

In [65]:
from collections import namedtuple
a = namedtuple('name', 'course')
s = a.make(['julius', 'bcom'])
print(s)

AttributeError: type object 'name' has no attribute 'make'

In [66]:
from collections import deque
a = ['a', 'b', 'c']
d = deque(a)
print(d)

deque(['a', 'b', 'c'])

In [67]:
d.appendleft('python')

In [68]:
d

deque(['python', 'a', 'b', 'c'])

In [69]:
d.pop()

'c'

In [70]:
d

deque(['python', 'a', 'b'])

In [90]:
from collections import defaultdict

d = defaultdict(int)
d[1] ='e'
d[2] = 'w'
d[3] = '3'

print(d[5])

0

from array import array

In [114]:
b = array('s', [b, B])
b

NameError: name 'B' is not defined